body {
  background: rgb(127,80,255);
  color: #fff;
  font-family: Monospace;
  font-size: 14px;
}

input, select, textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

hr {
  height: 3px;
  background: rgb(127,80,255);
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

::placeholder {
  color: white;
  opacity: 0.6;
}

.survey-form {
  text-align: center;
  margin: 1em auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  padding: 20px;
  min-width: 300px;
  max-width: 400px;
  background: rgba(0,0,0,0.3);
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.survey-form label {
  display: block;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.survey-form input {
  width: 100%;
  min-height: 3em;
  background: rgba(0,0,0,0.3);
  border: 1px solid rgb(127,80,255);
  color: #fff;
  margin-top: 5px;
  text-indent: 5px;
  border-radius: 5px;
  font-family: Consolas;
}

.survey-form input:hover,input:active,input:focus {
  border: 1px solid white;
  outline: 1px solid white;
}

.survey-form select {
  width: 100%;
  text-indent: 5px;
  min-height: 3em;
  background: rgba(0,0,0,0.3);
  border: 1px solid rgb(127,80,255);
  color: #fff;
  margin-top: 5px;
  border-radius: 5px;
  font-family: Consolas;
  
}

.survey-form select:hover,select:active,select:focus {
  border: 1px solid white;
  outline: 1px solid white;
}

.survey-form textarea {
  width: 100%;
  margin-top: 5px;
  background: rgba(0,0,0,0.3);
  border: 1px solid rgb(127,80,255);
  border-radius: 5px;
  color: #fff;
  line-height: 2em;
  text-indent: 5px;
  font-family: Consolas;
  resize: none;
}

@media(min-width: 768px) {
  .survey-form {
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.survey-form textarea:hover,textarea:active,textarea:focus {
  border: 1px solid white;
  outline: 1px solid white;
}

.survey-form input[type=submit] {
  height: 40px;
  border-radius: 5px;
  font-family: Consolas;
  margin-bottom: 25px;
  background: rgb(127,80,255);
}

.survey-form input[type=submit]:active, input[type=submit]:focus,input[type=submit]:hover {
  border: 1px solid rgba(0,0,0,0.3);
  outline: 1px solid rgba(0,0,0,0.3);
}

.survey-form p {
  font-size: 0.7rem;
  font-style: italic;
  font-family: Monospace;
}

.survey-form h1 {
  font-size: 1.5rem;
  font-family: Courier;
}
